form.post-form-container {
  display: flex;
  flex-direction: column;
  padding: 2% 6%;
}

.post-form-container label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  padding: 0% 2%;
}

.post-form-container p {
  width: 200px;
}

.post-form-container input {
  flex-grow: 1;
}

.post-form-container textarea {
  flex-grow: 1;
  border-radius: 5px;
  height: 80px;
  margin: 5px 15px 5px 5px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

.button-submit-post-form {
  width: 120px;
  margin: 0 auto;
  background-color: rgb(12, 33, 33);
  color: rgba(0, 247, 255, 0.719);
}

.button-submit-post-form:hover {
  cursor: pointer;
} 
