div.post-container {
  border: 1px solid rgb(23, 36, 36);
  margin: 10px;
  border-radius: 5px;
  align-items: flex-start;
  box-shadow: 1px 1px 1px black;
  background-color:  rgba(187, 218, 233, 0.527);
}

.post-container h2, p {
  margin: 10px 20px;
}
